<div class="container">
    <ul>
      <li *ngFor="let user of users$">
        <b>{{user.id }} - {{user.name}}</b>
      </li>
    </ul>

    

    <div class="row">
            <div class="form-group">
              <label for="exampleInputEmail1">ID </label>
              <input type="text" class="form-control" [(ngModel)]="id" placeholder="ID">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Name </label>
              <input type="text" class="form-control" [(ngModel)]="name"  placeholder="Name">
            </div>
            <button (click)="onAdd()" class="btn btn-primary">Add</button>
    </div>
</div>